{{#each data as |bar|}}
  <div style="width: {{bar.width}};">
    {{#if bar.count}}
      <span class="{{bar.label}}">{{bar.count}}</span>
    {{else}}
      <span>{{bar.count}}</span>
    {{/if}}
  </div>
{{/each}}
