{{#each chats as |chat|}}
  {{#chat-message classNameBindings="chat.isMe:chat-mine"}}
    {{#paper-tile-left}}
      <img src={{chat.avatarUrl}} class="chat-avatar-md">
    {{/paper-tile-left}}

    {{#paper-tile-content}}
      {{#each chat.messages as |message|}}
        <h3 class="chat-message-text">{{message}}</h3>
      {{/each}}
    {{/paper-tile-content}}
  {{/chat-message}}
  <h3 class="chat-message-by {{if chat.isMe 'chat-mine'}}">
    {{chat.name}}&nbsp;
    <small>{{x-ago date=chat.when}}</small>
  </h3>
{{/each}}
