{{#x-tr class="success cursor-pointer" action="showHide" param=family.superType}}
  <td>
    <span class="indent indent-1 family-count">{{family.totalCount}}</span>
    <i class="fa {{if canShow 'fa-caret-down' 'fa-caret-up'}} indent indent-1"></i>
  </td>
  <td><strong>{{pluralize-string family.type}}</strong></td>
  {{#if canEdit}}
    <td></td>
  {{/if}}
{{/x-tr}}
{{#if canShow}}
  {{#each cardGroup in family.cardGroups}}
    {{#x-tr action="showCard" class="has-hidden-hover" focusIn="hoverOn" focusOut="hoverOff" param=cardGroup.card}}
      <td>
        <span class="indent indent-2">{{cardGroup.count}}</span>
      </td>
      <td class="cursor-pointer">{{cardGroup.card.name}}</td>
      {{#if canEdit}}
        <td>
          <div class="on-hover">
            {{#x-paper-button action="add" params=cardGroup bubbles=false}}
              {{paper-icon icon="add-circle"}}
            {{/x-paper-button}}
            {{#x-paper-button action="remove" params=cardGroup bubbles=false}}
              {{paper-icon icon="remove-circle"}}
            {{/x-paper-button}}
          </div>
        </td>
      {{/if}}
    {{/x-tr}}
  {{/each}}
{{/if}}
