<img src={{deck.imageUrl}} class="md-avatar">
<div class="md-list-item-text">
  {{!--
  {{#link-to 'deck.index' deck tagName="h3" class="link"}}{{deck.name}}{{/link-to}}
    <img class="avatar avatar-medium" src={{deck.owner.avatarUrl}} />
    --}}
  <h3>{{deck.name}}</h3>
  <h4>{{deck.owner.username}}</h4>
  <p>{{deck.description}}</p>
</div>

{{#paper-button icon-button=true param=item action="secondaryPersonClick"}}
  {{paper-icon icon="phone"}}
{{/paper-button}}
