<div class="table-responsive">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th class="col-sm-3">Number</th>
        <th class="{{if canEdit 'col-sm-6' 'col-sm-9'}}">Card</th>
        {{#if canEdit}}
          <th class="col-sm-3">Actions</th>
        {{/if}}
      </tr>
    </thead>
    <tbody>
      {{!-- Main Deck --}}
      {{#x-tr class="info cursor-pointer" action="showHide" param="mainDeck"}}
        <td>
          <span>{{deck.mainCount}}</span>
          <i class="fa {{if canShowMainDeck 'fa-caret-down' 'fa-caret-up'}}"></i>
        </td>
        <td><strong>Deck</strong></td>
        {{#if canEdit}}
          <td></td>
        {{/if}}
      {{/x-tr}}
      {{#if canShowMainDeck}}

        {{#each deck.mainDeckFamilies as |family|}}
          {{deck-table-item
            family=family
            canEdit=canEdit
            doNotShowTypes=doNotShowTypes
            add="add"
            remove="remove"
            showCard="showCard"
            showHide="showHide"
            hoverOn="hoverOn"
            hoverOff="hoverOff"}}
        {{/each}}

      {{/if}}

      {{!-- Sideboard --}}
      {{#if deck.sideCount}}
        <tr></tr>
        {{#x-tr class="info cursor-pointer" action="showHide" param="sideDeck"}}
          <td>
            <span>{{deck.sideCount}}</span>
            <i class="fa {{if canShowSideDeck 'fa-caret-down' 'fa-caret-up'}}"></i>
          </td>
          <td><strong>Sideboard</strong></td>
          {{#if canEdit}}
            <td></td>
          {{/if}}
        {{/x-tr}}

        {{#if canShowSideDeck}}

          {{#each deck.sideDeckFamilies as |family|}}
            {{deck-table-item
              family=family
              canEdit=canEdit
              doNotShowTypes=doNotShowTypes
              add="add"
              remove="remove"
              showCard="showCard"
              showHide="showHide"}}
          {{/each}}

        {{/if}}
      {{/if}}
    </tbody>
  </table>
</div>

<div
  class="card-spoiler-pointer {{if isSpoilerOpposite 'opposite'}} {{unless spoilerCard 'invisible'}}"
  style={{spoilerCardPointerStyle}}>
</div>
<div
  class="card-spoiler {{if isSpoilerOpposite 'opposite'}} {{unless spoilerCard 'invisible'}}"
  style={{spoilerCardStyle}}>
  <img src="{{spoilerCard.imageUrl}}" />
</div>
