{{#paper-card-content}}
  {{!-- The cards --}}
  <div class="sample-draw-chart-hand">
    {{#each hand as |card index|}}
      <div class="card-spoiler card-spoiler-sample-hand card-spoiler-sample-hand-{{index}}">
        <img src={{card.imageUrl}} />
      </div>
    {{/each}}
  </div>
  <h3 class="chart-card-title">
    Sample Draw
    <div class="pull-right">
      <a href="#" {{action "refresh"}}>
        {{paper-icon icon="refresh" size="lg"}}
      </a>
      <a href="#" {{action "fullscreen"}}>
        {{paper-icon icon="fullscreen" size="lg"}}
      </a>
    </div>
  </h3>
{{/paper-card-content}}
