{{#paper-item classNames="md-3-line"}}
  <img src={{presence.user.avatarUrl}} class="user-avatar md-avatar">
  <div class="md-list-item-text">
    <h3>{{presence.user.username}}</h3>
    <h4>
      {{lastSeenLabel}}
      {{#unless isOnline}}
        {{from-now presence.lastSeen includeSuffix=isOffline}}
      {{/unless}}
    </h4>
  </div>
{{/paper-item}}
{{paper-divider}}
