<h6>Card type</h6>
<p>{{card.type}}</p>
<h6>Price</h6>
<p>
  {{#promise-spinner url=card.channelFireballPrice as |promise|}}
    {{#if promise.isPending}}
      {{fa-icon "refresh" spin=true}}
    {{/if}}
    {{#if promise.isFulfilled}}
      {{#if promise.model.price}}
        {{promise.model.price}}
      {{else}}
        No price found.
      {{/if}}
    {{/if}}
    {{#if promise.isRejected}}
      :(
    {{/if}}
  {{/promise-spinner}}
</p>
<h6>Recent Set</h6>
<p>{{card.recentSet}}</p>
