<div class="game-right-column {{if showChat 'show-chat' 'hide-chat'}}">
  <div class="game-chat">
    <div class="chat">
      <div class="chat-header">
        <strong>{{playerOne.user.username}} vs {{playerTwo.user.username}}</strong>
      </div>
      {{chat-pane
        chats=chats
        title="title"
        classNames="chat-pane compact"
      }}
      <form {{action "submitChat" on="submit"}}>
        {{paper-input
          label="Say something!"
          value=says
          disabled=session.doesNotHaveWriteAccess}}
      </form>
    </div>
  </div>
</div>
