{{#game-board-container}}
  {{#game-zones}}
    {{game-zone
      title="Exile"
      gameCards=playerOne.cardsInExile
      open="openLeftColumn"
      cardIsDragging=cardIsDragging
      droppedOn="droppedCard"
      dragEnded="dragEnded"
      player=playerOne}}

    {{game-zone
      title="Graveyard"
      gameCards=playerOne.cardsInGraveyard
      open="openLeftColumn"
      cardIsDragging=cardIsDragging
      droppedOn="droppedCard"
      dragEnded="dragEnded"
      player=playerOne}}

    {{#game-zone
      canOpen=false
      title="Library"
      gameCards=playerOne.cardsInLibrary
      cardIsDragging=cardIsDragging
      droppedOn="droppedCard"
      dragEnded="dragEnded"
      player=playerOne}}
      {{#if amIPlayerOne}}
        {{#context-menu as |menu|}}
          <ul>
            <li {{action 'drawCards' 7}}>Draw 7</li>
            <li {{action 'drawCards' 1}}>Draw Card</li>
            <li {{action 'openLeftColumn' playerOne playerOne.cardsInLibrary 'Library'}}>Search</li>
            <li {{action 'shuffle'}}>Shuffle</li>
            <li {{action 'returnAllCards'}}>Return All Cards</li>
          </ul>
        {{/context-menu}}
      {{/if}}
    {{/game-zone}}

    {{game-zone
      title="Hand"
      class="bottom"
      open="openLeftColumn"
      cardIsDragging=cardIsDragging
      droppedOn="droppedCard"
      player=playerOne
      dragEnded="dragEnded"
      gameCards=playerOne.cardsInHand}}
  {{/game-zones}}

  {{game/battle-field
    gameCards=playerOne.cardsInBattlefield
    droppedOn="droppedCard"
    dragEnded="dragEnded"
    dragStarted="dragStarted"
    cardIsDragging=cardIsDragging
    player=playerOne
    cards=cardsInDecks
    canDrop=true
    bottomBattlefield=true
  }}

{{/game-board-container}}
