{{#game-board-container}}
  {{#game-zones}}
    {{game-zone
      title="Exile"
      gameCards=playerOne.cardsInExile
      open="openLeftColumn"
      cardIsDragging=cardIsDragging
      droppedOn="droppedCard"
      player=playerOne}}

    {{game-zone
      title="Graveyard"
      gameCards=playerOne.cardsInGraveyard
      open="openLeftColumn"
      cardIsDragging=cardIsDragging
      droppedOn="droppedCard"
      player=playerOne}}

    {{#game-zone
      canOpen=false
      title="Library"
      gameCards=playerOne.cardsInLibrary
      cardIsDragging=cardIsDragging
      droppedOn="droppedCard"
      player=playerOne}}
      {{#if amIPlayerOne}}
        {{#context-menu as |menu|}}
          <ul>
            <li {{action 'drawCards' 7}}>Draw 7</li>
            <li {{action 'drawCards' 1}}>Draw Card</li>
            <li {{action 'openLeftColumn' playerOne playerOne.cardsInLibrary 'Library'}}>Search</li>
            <li {{action 'shuffle'}}>Shuffle</li>
            <li {{action 'returnAllCards'}}>Return All Cards</li>
          </ul>
        {{/context-menu}}
      {{/if}}
    {{/game-zone}}

    {{game-zone
      title="Hand"
      class="bottom"
      open="openLeftColumn"
      cardIsDragging=cardIsDragging
      droppedOn="droppedCard"
      player=playerOne
      gameCards=playerOne.cardsInHand}}
  {{/game-zones}}

  {{#battle-field}}

    {{battle-field-non-land}}

    {{battle-field-land}}

  {{/battle-field}}
{{/game-board-container}}
