{{#if model.length}}
  {{#paper-content classNames="md-whiteframe-z1"}}
    {{#paper-list}}
      {{#each model as |deck|}}
        {{deck-listing
          class="cursor-pointer"
          deck=deck
          currentUser=session.user
          goToDeck="goToDeck"
          deleteDeck="deleteDeck"
          goToDeckBuilder="goToDeckBuilder"}}
        {{paper-divider}}
      {{/each}}
    {{/paper-list}}
  {{/paper-content}}

  {{az-infinity-loader
    classNames="infinity-loader"
    scrollable="#infinity-window"
    infinityModel=model}}
{{else}}
  <div class="no-decks-container">
    <div class="three-card-deck">
      <div class="card-one"></div>
      <div class="card-two"></div>
      <div class="card-three"></div>
    </div>
    <h2 class="main-message">There aren't any decks here.</h2>
    <p class="message">
      {{paper-button raised=true class="md-primary" label="Create" action="createNewDeck"}}
      a new deck or {{paper-button raised=true label="Import" action="importDeck"}} a deck to get started.
    </p>
  </div>
{{/if}}
