<div class="chat">
  <h2 class="chat-title">#{{channel}}</h2>
  {{chat-pane chats=model title=channel class="chat-pane"}}
  {{active-user-list presences=sortedPresences}}

  <form {{action "submitChat" on="submit"}}>
    {{paper-input
      label="Say something!"
      value=says}}
  </form>
</div>
