{{#paper-content classNames="md-whiteframe-z1 list-demo"}}
  {{#paper-list}}
    {{#each card in filteredCards}}
      {{#x-paper-item class="cursor-pointer has-hidden-hover" as |isExpanded|}}
        {{#paper-tile-left}}
          {{x-card-image src=card.imageUrl class="face"}}
        {{/paper-tile-left}}

        {{#paper-tile-content}}
          <h3>{{card.name}}</h3>
          <ul class="pull-right paper-tile-content-right">
            <li>{{card.powerToughnessFormatted}}</li>
            <li class="ml-10">{{mana-formatted mana=card.manaCostFormatted}}</li>
            <li class="on-hover">
              {{#x-paper-button classNames="md-primary" title="Add to Deck" action="addToMain" params=card bubbles=false}}
                Deck
              {{/x-paper-button}}
            </li>
            <li class="on-hover">
              {{#x-paper-button title="Add to Sideboard" action="addToSide" params=card bubbles=false}}
                Sideboard
              {{/x-paper-button}}
            </li>
          </ul>
          <p class="mt-10" {{bind-attr title=card.text}}>{{card.text}}</p>
          {{#if isExpanded}}
            {{x-card card=card}}
          {{/if}}
        {{/paper-tile-content}}
      {{/x-paper-item}}
      {{paper-divider}} {{! OR {{paper-divider inset=true}}
    {{/each}}
  {{/paper-list}}
{{/paper-content}}

{{#infinity-loader
  classNames="infinity-loader"
  infinityModel=filteredCards
  scrollable="#infinity-window"}}
{{/infinity-loader}}
