{{#paper-content classNames="md-whiteframe-z1 list-demo"}}
  {{#paper-list}}
    {{#each card in filteredCards}}
      {{#x-paper-item class="cursor-pointer has-hidden-hover" as |isExpanded|}}
        {{#paper-tile-left}}
          {{x-card-image src=card.imageUrl class="face"}}
        {{/paper-tile-left}}

        {{#paper-tile-content}}
          <h3>{{card.name}}</h3>
          <ul class="pull-right paper-tile-content-right">
            <li>{{card.powerToughnessFormatted}}</li>
            <li class="ml-10">{{mana-formatted mana=card.manaCostFormatted}}</li>
            <li class="on-hover">
              {{#x-paper-button action="addToMain" params=card bubbles=false}}
                {{paper-icon icon="add-circle" size="lg" title="Add to Deck"}}
              {{/x-paper-button}}
            </li>
            <li class="on-hover">
              {{#x-paper-button action="addToSide" params=card bubbles=false}}
                {{paper-icon icon="add" size="lg" title="Add to Sideboard"}}
              {{/x-paper-button}}
            </li>
          </ul>
          <p class="truncate" {{bind-attr title=card.text}}>{{card.text}}</p>
          {{#if isExpanded}}
            <h4>{{card.recentSet}}</h4>
            {{x-card card=card}}
          {{/if}}
        {{/paper-tile-content}}
      {{/x-paper-item}}
      {{paper-divider}} {{! OR {{paper-divider inset=true}}
    {{/each}}
  {{/paper-list}}
{{/paper-content}}

{{!-- disabling infinite scroll for now :(
{{#infinite-scroll content=model hasMore=true}}
  <span>Loading...</span>
{{/infinite-scroll}}
--}}
