{{#paper-content classNames="md-whiteframe-z1 list-demo"}}
  {{#paper-list}}
    {{#each card in filteredCards}}
      {{#paper-item class="cursor-pointer" param=card action="showCard"}}
        {{#paper-tile-left}}
          {{x-card-image src=card.imageUrl class="face"}}
        {{/paper-tile-left}}

        {{#paper-tile-content}}
          <h3>{{card.name}}</h3>
          <h4>{{card.recentSet}}</h4>
          <ul class="pull-right paper-tile-content-right">
            <li>{{card.powerToughnessFormatted}}</li>
            <li class="ml-10">{{mana-formatted mana=card.manaCostFormatted}}</li>
          </ul>
          <p class="truncate" {{bind-attr title=card.text}}>{{card.text}}</p>
        {{/paper-tile-content}}
      {{/paper-item}}
      {{paper-divider}} {{! OR {{paper-divider inset=true}}
    {{/each}}
  {{/paper-list}}
{{/paper-content}}

{{!-- disabling infinite scroll for now :(
{{#infinite-scroll content=model hasMore=true}}
  <span>Loading...</span>
{{/infinite-scroll}}
--}}
