{{#if amIPlaying}}
  {{#x-paper-button action="showToken" params=playerOne}}Create Token{{/x-paper-button}}
{{/if}}

<div class="pull-right">
  <span>{{playerOne.user.username}} - {{playerOne.life}}</span>
  <span>vs</span>
  {{#if playerTwo}}
    <span>{{playerTwo.user.username}} - {{playerTwo.life}}</span>
  {{else}}
    <span>...</span>
  {{/if}}

  {{#if amIPlaying}}
    {{#x-paper-button action="changeLife" params=1}}+1{{/x-paper-button}}
    {{#x-paper-button action="changeLife" params=5}}+5{{/x-paper-button}}
    {{#x-paper-button action="changeLife" params=-1}}-1{{/x-paper-button}}
    {{#x-paper-button action="changeLife" params=-5}}-5{{/x-paper-button}}
    {{#x-paper-button-delayed class="md-warn" action="endGame" title="End Game" bubbles=false as |showTimer|}}
      {{paper-icon icon="warning" size="lg"}}
      {{#if showTimer}}
        {{donut-timer}}
      {{/if}}
    {{/x-paper-button-delayed}}
  {{/if}}
</div>
