<div class="row row-offcanvas row-offcanvas-left {{if filtersActive 'active'}}">

  <div class="col-sm-3 col-lg-1 sidebar-offcanvas" id="sidebar">
    {{#paper-card}}
      {{#paper-card-content}}
        {{card-filters
          typesSelected=controllers.cards.types
          colorsSelected=controllers.cards.colors
          legalitiesSelected=controllers.cards.legalities
          typesChanged="typesChanged"
          colorsChanged="colorsChanged"
          legalitiesChanged="legalitiesChanged"
        }}
      {{/paper-card-content}}
    {{/paper-card}}
  </div>
  <div>
    <div class="col-sm-7 col-lg-6">
      {{#paper-card class="mr-0 ml-0"}}
        {{#paper-card-content}}
          {{paper-text class="width-100" label="Name" value=nameSearch}}
        {{/paper-card-content}}
      {{/paper-card}}
      {{partial "cards/material-of-cards"}}
    </div>

    <div class="col-sm-5">
      {{#paper-card}}
        {{#paper-card-content}}
          <form class="form-horizontal form-horizontal-condensed">
            <div class="form-group">
              <label class="control-label">Classification</label>
              {{controllers.deck.model.classification}}
            </div>
            <div class="form-group">
              {{paper-text class="width-100" label="Deck Name" value=controllers.deck.model.name}}
            </div>
            <div class="form-group">
              {{paper-text class="width-100" label="Comments" value=controllers.deck.model.comments}}
            </div>
          </form>
        {{/paper-card-content}}
      {{/paper-card}}

      {{#if model.failedImports}}
        {{failed-imports lines=model.failedImports action="clearFailedImports"}}
      {{/if}}

      {{#if canShowDeckTable}}
        {{#paper-card}}
          {{#paper-card-content}}
            {{deck-table
              deck=model
              showCard="showCard"
              canEdit=true
              spoilerPosition="left"}}
          {{/paper-card-content}}
        {{/paper-card}}
      {{/if}}
    </div>
  </div>
</div>
