<div class="row row-offcanvas row-offcanvas-left {{if filtersActive 'active'}}">

  <div class="col-sm-3 col-lg-1 sidebar-offcanvas" id="sidebar">
    {{card-filters
      typesSelected=controllers.cards.types
      colorsSelected=controllers.cards.colors
      legalitiesSelected=controllers.cards.legalities
      typesChanged="typesChanged"
      colorsChanged="colorsChanged"
      legalitiesChanged="legalitiesChanged"
    }}
  </div>
  <div class="col-sm-12 col-lg-11">
    <div class="col-sm-5">
      {{#full-height classNames="overflow-y-scroll scrollable-paper-item"}}
        {{paper-text label="Name" value=nameSearch}}
        {{partial "cards/material-of-cards"}}
      {{/full-height}}
    </div>
    <div class="col-sm-2">
      {{#if selectedCard}}
        {{x-card card=selectedCard}}
        {{x-card-deck card=selectedCard
          deck=model
          addToMain="addToMain"
          addToSide="addToSide"
          removeOneFromMain="removeOneFromMain"
          removeAllFromMain="removeAllFromMain"
          removeOneFromSide="removeOneFromSide"
          removeAllFromSide="removeAllFromSide"
        }}
      {{/if}}
    </div>
    <div class="col-sm-5">
      <form class="form-horizontal form-horizontal-condensed">
        <div class="form-group">
          <label class="col-sm-6 control-label" style="text-align: left;">Classification</label>
          <div class="col-sm-6" style="padding-top: 7px;">
            {{controllers.deck.model.classification}}
          </div>
        </div>
        <div class="form-group">
          <div class="pl-15">
            {{paper-text label="Deck Name" value=controllers.deck.model.name}}
          </div>
        </div>
        <div class="form-group">
          <label for="deck-comments" class="col-sm-2 control-label">Comments</label>
          <div class="col-sm-12">
            {{textarea class="form-control" id="deck-comments" rows="3" value=controllers.deck.model.comments}}
          </div>
        </div>
      </form>

      {{#if model.failedImports}}
        {{failed-imports lines=model.failedImports action="clearFailedImports"}}
      {{/if}}

      {{#if canShowDeckTable}}
        <div class="table-responsive">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th class="col-sm-3">Number</th>
                <th class="col-sm-9">Card</th>
              </tr>
            </thead>
            <tbody>
              {{!-- Main Deck --}}
              {{#x-tr class="info cursor-pointer" action="showHide" param="mainDeck"}}
                <td>
                  <span>{{model.mainCount}}</span>
                  <i class="fa {{if canShowMainDeck 'fa-caret-down' 'fa-caret-up'}}"></i>
                </td>
                <td><strong>Maindeck</strong></td>
              {{/x-tr}}
              {{#if canShowMainDeck}}

                {{#each family in model.mainDeckFamilies itemController="deckTableItem"}}
                  {{#x-tr class="success cursor-pointer" action="showHide" param=family.model.superType}}
                    <td>
                      <span class="indent indent-1">{{family.model.totalCount}}</span>
                      <i class="fa {{if family.canShow 'fa-caret-down' 'fa-caret-up'}} indent indent-1"></i>
                    </td>
                    <td><strong>{{pluralize-string family.model.type}}</strong></td>
                  {{/x-tr}}
                  {{#if family.canShow}}
                    {{#each cardGroup in family.model.cardGroups}}
                      {{#x-tr action="showCard" param=cardGroup.card}}
                        <td>
                          <span class="indent indent-2">{{cardGroup.count}}</span>
                        </td>
                        <td class="cursor-pointer">{{cardGroup.card.name}}</td>
                      {{/x-tr}}
                    {{/each}}
                  {{/if}}
                {{/each}}

              {{/if}}

              {{!-- Sideboard --}}
              {{#if model.sideCount}}
                <tr></tr>
                {{#x-tr class="info cursor-pointer" action="showHide" param="sideDeck"}}
                  <td>
                    <span>{{model.sideCount}}</span>
                    <i class="fa {{if canShowSideDeck 'fa-caret-down' 'fa-caret-up'}}"></i>
                  </td>
                  <td><strong>Sideboard</strong></td>
                {{/x-tr}}

                {{#if canShowSideDeck}}

                  {{#each family in model.sideDeckFamilies itemController="deckTableItem"}}
                    {{#x-tr class="success cursor-pointer" action="showHide" param=family.model.superType}}
                      <td>
                        <span class="indent indent-1">{{family.model.totalCount}}</span>
                        <i {{bind-attr class=":fa family.canShow:fa-caret-down:fa-caret-up :indent :indent-1"}}></i>
                      </td>
                      <td><strong>{{pluralize-string family.model.type}}</strong></td>
                    {{/x-tr}}
                    {{#if family.canShow}}
                      {{#each cardGroup in family.model.cardGroups}}
                        {{#x-tr action="showCard" param=cardGroup.card}}
                          <td>
                            <span class="indent indent-2">{{cardGroup.count}}</span>
                          </td>
                          <td class="cursor-pointer">{{cardGroup.card.name}}</td>
                        {{/x-tr}}
                      {{/each}}
                    {{/if}}
                  {{/each}}

                {{/if}}
              {{/if}}
            </tbody>
          </table>
        </div>
      {{/if}}
    </div>
  </div>
</div>
