{{#paper-item classNames="deck-header"}}
  {{#paper-tile-left}}
    <div class="game-listing-deck-image"
         style="background-image: url('{{model.defaultImageUrl}}')">
    </div>
  {{/paper-tile-left}}
  {{#paper-tile-content}}
    <h2>{{model.name}}</h2>
    <div>
      <img class="avatar avatar-medium" src={{model.owner.avatarUrl}} />
      {{model.owner.username}}
    </div>
  {{/paper-tile-content}}
{{/paper-item}}

<div class="row">
  {{!-- Main column for deck list --}}
  <div class="col-md-4 col-sm-6">
    {{#paper-card}}
      {{#paper-card-content}}
        {{deck-table
          deck=model
          showCard="showCard"}}
      {{/paper-card-content}}
    {{/paper-card}}
  </div>

  {{!-- Side column for charts --}}
  <div class="col-md-4 col-sm-6">
    {{#titled-card title="Mana Curve"}}
      {{mana-curve-chart deck=model}}
    {{/titled-card}}
  </div>
</div>
