{{#paper-item classNames="deck-header bg-transparent"}}
  <div class="deck-image-frame" style={{model.imageUrlStyle}}></div>

  <div class="md-list-item-text">
    <h2>{{model.name}}</h2>
    <div>
      <img class="avatar avatar-medium" src={{model.owner.avatarUrl}} />
      {{model.owner.username}}
    </div>
  </div>
{{/paper-item}}

<div class="row">
  {{!-- Main column for deck list --}}
  <div class="col-md-4 col-sm-6">
    {{#paper-card}}
      {{#paper-card-content}}
        {{deck-table
          deck=model
          showCard="showCard"}}
      {{/paper-card-content}}
    {{/paper-card}}
  </div>

  {{!-- Side column 1 for charts --}}
  <div class="col-md-4 col-sm-6">
    {{#titled-card title="Mana Curve"}}
      {{mana-curve-chart deck=model}}
    {{/titled-card}}

    {{#titled-card title="Card Breakdown"}}
      {{card-breakdown-chart deck=model}}
    {{/titled-card}}
  </div>

  {{!-- Side column 2 for charts --}}
  <div class="col-md-4 col-sm-6">
    {{sample-draw-chart deck=model}}
  </div>


</div>
