{{#paper-nav-container classNames="ember-app"}}

  {{#paper-sidenav classNames="md-sidenav-left md-whiteframe-z2" flex-layout="column" flex=true}}

    {{#paper-toolbar}}
    <div class="md-toolbar-tools">
      <div><strong>Webatrice</strong></div>
    </div>
    {{/paper-toolbar}}

    {{#paper-content}}
      <nav class="sidenav">
        <ul>
          {{!--Logged in user--}}
          {{#if session.isAuthenticated}}
          <li class="cursor-pointer">
            <img class="avatar avatar-text avatar-small avatar-list" src={{session.currentUser.github.cachedUserProfile.avatar_url}} />
          </li>
          <li>{{#link-to 'decks.list'}}Decks{{/link-to}}</li>
          {{else}}
          <li {{action "loginWithGithub"}}><a>{{fa-icon "github"}} Login with Github</a></li> {{/if}}

          {{!--Lobby link--}}
          {{#if session.isAuthenticated}}
          <li>{{#link-to 'chat'}}Lobby{{/link-to}}</li>
          {{/if}}

          {{!--Cards browser--}}
          <li>{{#link-to 'cards'}}Cards{{/link-to}}</li>

          {{!--Build a deck--}}
          <li>{{#link-to 'deck.build' 'new'}}Build a deck{{/link-to}}</li>

          {{!--Github link--}}
          <li><a target="_blank" href="https://github.com/sirzach/bbbbbbbbbbbbb">{{fa-icon "github"}} Report an issue</a></li>

        </ul>
      </nav>
    {{/paper-content}}
    
  {{/paper-sidenav}}

  {{#paper-content flex-layout="column" flex=true}}
    {{#paper-toolbar}}
      <h2 class="md-toolbar-tools">
        {{#paper-sidenav-toggle}}
          {{paper-icon icon="menu"}}
        {{/paper-sidenav-toggle}}
      </h2>
    {{/paper-toolbar}}
    <div class="container-fluid">
      {{outlet}}
    </div>
  {{/paper-content}}

{{/paper-nav-container}}
{{outlet "modal"}}
