<div id="navbar" class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      {{#link-to 'application' class="navbar-brand"}}Webatrice{{/link-to}}
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        {{!-- Games link --}}
        <li>{{#link-to 'games.list'}}Games{{/link-to}}</li>

        {{!-- Chat link --}}
        <li>{{#link-to 'chat'}}Lobby{{/link-to}}</li>

        {{!-- Cards browser --}}
        <li>{{#link-to 'cards'}}Cards{{/link-to}}</li>

        {{!-- Build a deck link --}}
        <li>{{#link-to 'deck.build' 'new'}}Build a Deck{{/link-to}}</li>

        {{!-- Github link --}}
        <li class="dropdown cursor-pointer">
          <a class="dropdown-toggle" data-toggle="dropdown">Contact {{fa-icon "caret-down"}}</a>
          <ul class="dropdown-menu">
            <li><a target="_blank" href="https://github.com/sirzach/bbbbbbbbbbbbbbb">{{fa-icon "github"}} Github</a></li>
          </ul>
        </li>

        {{!-- User dropdown area --}}
        {{!-- Logged in user --}}
        {{#if session.isAuthenticated}}
          <li class="dropdown cursor-pointer">
            <a class="dropdown-toggle nav-avatar-container" data-toggle="dropdown">
              <img src={{session.user.avatarUrl}} class="img img-circle"/>{{fa-icon "caret-down"}}
            </a>
            <ul class="dropdown-menu">
              <li>{{#link-to 'user'}}Profile{{/link-to}}</li>
              <li>{{#link-to 'decks.list'}}Decks{{/link-to}}</li>
            </ul>
          </li>

        {{!-- User is not logged in --}}
        {{else}}
          <li class="dropdown cursor-pointer">
            <a class="dropdown-toggle" data-toggle="dropdown">Login {{fa-icon "caret-down"}}</a>
            <ul class="dropdown-menu">
              <li><a {{action "loginWithGithub"}}>{{fa-icon "github"}} Login with Github</a></li>
            </ul>
          </li>
        {{/if}}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
<div class="container-fluid">
  {{outlet}}
</div>
{{outlet "modal"}}
