<div {{bind-attr class=":row :row-offcanvas :row-offcanvas-left filtersActive:active"}}>
  <div class="col-sm-3 col-lg-1 sidebar-offcanvas" id="sidebar">
    {{card-filters
      typesSelected=types
      colorsSelected=colors
      legalitiesSelected=legalities
      typesChanged="typesChanged"
      colorsChanged="colorsChanged"
      legalitiesChanged="legalitiesChanged"
    }}
  </div>
  <div class="col-sm-12 col-lg-11">
    <div class="col-sm-8">
      {{#paper-button raised=true classNames="md-primary sm-display" action="toggleFiltersActive"}}Toggle Filters{{/paper-button}}
      {{#full-height class="overflow-y-scroll" epsilon=34}}
        {{paper-text label="Name" value=nameSearch}}
        {{partial "cards/material-of-cards"}}
      {{/full-height}}
    </div>
    <div class="col-sm-4">
      {{outlet}}
    </div>
  </div>
</div>
