{{game/left-column
  player=leftColumnPlayer
  gameCards=leftColumnCards
  zone=leftColumnZone
  cards=cardsInDecks
  isOpen=showLeftColumn
  close="closeLeftColumn"
  dragStarted="dragStarted"
  dragEnded="dragEnded"
}}
<div class="game-board {{if showChat 'show-chat' 'hide-chat'}} {{if showLeftColumn 'show-left-column'}}">
  {{#paper-button class="chat-chevron" action="toggleChat"}}
    {{paper-icon icon=showChatClass}}
  {{/paper-button}}

  <div class="game-board-top">
    {{#if isGameInProgress}}
      {{partial "game/in-progress-opponent"}}
    {{else}}
      {{!-- Let user know of the opponent's game readiness level --}}
      <h3>
        <img src={{playerTwoAvatarUrl}} class="avatar">
        {{topBoardTitle}}
      </h3>
    {{/if}}
  </div>

  <div class="game-board-bottom">
    {{#if isGameInProgress}}
      {{partial "game/in-progress-me"}}
    {{else}}
      <h3>
        <img src={{playerOneAvatarUrl}} class="avatar">
        {{#if participant.user.hasGameReadyDecks}}
          {{bottomBoardTitle}}
        {{else}}
          {{#paper-button raised=true class="md-primary" action="createNewDeck"}}Create Deck{{/paper-button}}
        {{/if}}

        {{!-- Button to join the game --}}
        {{#if canIJoinAsPlayer}}
          {{#paper-button raised=true classNames="md-primary ml-15" action="joinAsPlayer"}}Join Game{{/paper-button}}
        {{/if}}

        {{!-- Button to acknowledge that it's game on! --}}
        {{#if participantCanReady}}
          {{#paper-button raised=true classNames="md-primary ml-15" action="iAmReady"}}Ready!{{/paper-button}}
        {{/if}}
      </h3>
      {{!-- The game is still being set up. --}}
      {{#if amIPlaying}}
        {{deck-chooser
            decks=session.user.gameReadyDecks
            selectedDeckId=participant.deckId
            action="selectDeck"}}
      {{/if}}

    {{/if}}
  </div>

</div>

{{partial "game/chat"}}
