<div class="game-board {{if showChat 'show-chat' 'hide-chat'}}">
  {{#paper-button class="chat-chevron" action="toggleChat"}}
    {{#if showChat}}
      {{paper-icon icon="chevron-right"}}
    {{else}}
      {{paper-icon icon="chevron-left"}}
    {{/if}}
  {{/paper-button}}
  <div class="game-board-top">
    <h3>
      <img src={{playerTwoAvatarUrl}} class="avatar">
      {{topBoardTitle}}
    </h3>
    {{#if isGameInProgress}}
      {{!-- Game is in action! --}}
    {{/if}}
    {{#if isGameInPrep}}
      {{!-- The game is still being set up. --}}

      {{#if isWaitingForOpponent}}
      {{/if}}
    {{/if}}
    {{#if isGameOver}}
      {{!-- The game has ended. --}}
    {{/if}}
  </div>
  <div class="game-board-bottom">
    <h3>
      <img src={{playerOneAvatarUrl}} class="avatar">
      {{bottomBoardTitle}}
    </h3>
    {{#if isGameInProgress}}
      {{!-- Game is in action! --}}
    {{/if}}
    {{#if isGameInPrep}}
      {{!-- The game is still being set up. --}}
      {{#if amIPlaying}}
        {{deck-chooser
            decks=session.user.gameReadyDecks
            selectedDeckId=participant.deckId
            action="selectDeck"}}
      {{/if}}
      {{#if canIJoinAsPlayer}}
        {{#paper-button raised=true classNames="md-primary game-join" action="joinAsPlayer"}}Join Game{{/paper-button}}
      {{/if}}
    {{/if}}
    {{#if isGameOver}}
      {{!-- The game has ended. --}}
    {{/if}}
  </div>
</div>

<div class="game-right-column {{if showChat 'show-chat' 'hide-chat'}}">
  <div class="game-chat">
    <div class="chat">
      <div class="chat-header">
        <strong>{{playerOne.user.username}} vs {{playerTwo.user.username}}</strong>
      </div>
      {{chat-pane
        chats=chats
        title="title"
        classNames="chat-pane compact"
      }}
      {{x-paper-text
        label="Say something!"
        value=says action="say"
        channel=model.id
        controllerName="game"
        class="chat-input"
        disabled=session.doesNotHaveWriteAccess
      }}
    </div>
  </div>
</div>


