<div class="game-board {{if showChat 'show-chat' 'hide-chat'}}">
  {{#paper-button class="chat-chevron" action="toggleChat"}}
    {{#if showChat}}
      {{paper-icon icon="chevron-right"}}
    {{else}}
      {{paper-icon icon="chevron-left"}}
    {{/if}}
  {{/paper-button}}
  <div class="game-board-top">
    <h3>
      <img src={{playerTwoAvatarUrl}} class="avatar">
      {{topBoardTitle}}
    </h3>
    {{#if isGameInProgress}}
      {{!-- Game is in action! --}}
    {{/if}}
    {{#if isGameInPrep}}
      {{!-- The game is still being set up. --}}

      {{#if isWaitingForOpponent}}
      {{/if}}
    {{/if}}
    {{#if isGameOver}}
      {{!-- The game has ended. --}}
    {{/if}}
  </div>
  <div class="game-board-bottom">
    <h3>
      <img src={{playerOneAvatarUrl}} class="avatar">
      {{bottomBoardTitle}}
      {{#if canIJoinAsPlayer}}
        {{#paper-button raised=true classNames="md-primary ml-15" action="joinAsPlayer"}}Join Game{{/paper-button}}
      {{/if}}
      {{#if amIPlaying}}
        {{#paper-button raised=true classNames="md-primary ml-15" action="iAmReady" disabled=haveNotChosenDeck}}Ready!{{/paper-button}}
      {{/if}}
    </h3>
    {{#if isGameInProgress}}
      {{!-- Game is in action! --}}
    {{/if}}
    {{#if isGameInPrep}}
      {{!-- The game is still being set up. --}}
      {{#if amIPlaying}}
        {{deck-chooser
            decks=session.user.gameReadyDecks
            selectedDeckId=participant.deckId
            action="selectDeck"}}
      {{/if}}

    {{/if}}
    {{#if isGameOver}}
      {{!-- The game has ended. --}}
    {{/if}}
  </div>
</div>

{{partial "game/chat"}}
