<div class="col-md-6">
  {{#paper-card}}
    {{#paper-card-content}}
      <h3>Log In</h3>
      <form role="form" {{action "login" on="submit"}}>
          {{paper-text classNames="login-input" type="email" label="Email" value=loginEmail}}
          {{paper-text classNames="login-input" type="password" label="Password" value=loginPassword}}
        {{#paper-button type="submit" classNames="md-primary" raised=true}}
          Log In
        {{/paper-button}}
      </form>
      {{#if loginError}}
        <p class="login-error">
          {{paper-icon icon="error"}}
          {{loginError}}
        </p>
      {{/if}}
    {{/paper-card-content}}
  {{/paper-card}}
</div>
<div class="col-md-6">
  {{#paper-card}}
    {{#paper-card-content}}
      <h3>Or Sign Up</h3>
      <form role="form" {{action "signup" on="submit"}}>
          {{paper-text classNames="login-input" type="text" label="Username" value=signupUsername}}
          {{paper-text classNames="login-input" type="email" label="Email" value=signupEmail}}
          {{paper-text classNames="login-input" type="password" label="Password" value=signupPassword}}
        {{#paper-button type="submit" classNames="md-primary" raised=true}}
          Sign Up
        {{/paper-button}}
      </form>
    {{/paper-card-content}}
  {{/paper-card}}
</div>
